/* Footer.css */

.footer {
margin: 3rem 0 0 0;
padding-top: 1.5rem;
padding-bottom: 1.5rem;
border-top: 1px solid #e5e7eb;
text-align: center;
font-size: 0.8rem;
color: #6b7280;
background-color: black;
}